@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

html,
body {
    min-height: 100%;
    background: linear-gradient(#f5f5f5, #fafafa);
}

article {
    min-height: 98vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
}

article p {
    font-size: calc(1rem + 0.5vw);
}

article summary, article ul li, article code  {
    font-size: calc(1rem + 0.25vw);
}

em {
    font-style: normal;
    font-weight: bold;
}


div {
    position: relative;
}

pre{
    background:#eee;
    box-shadow: inset 0 0 3px #ddd;
    margin-left: -1rem;
    margin-right: -1rem;
}

figure {
    margin-left: -1rem;
    margin-right: -1rem;
}

a.down,
a.up {
    text-decoration: none;
    border: 1px solid silver;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    bottom: 1rem;
    right: 2vw;
    padding: 5px;
    width: 2.25rem;
    text-align: center;
    box-shadow: 0 0 3px #ddd;
}

a.down:hover,
a.up:hover {
    box-shadow: inset 0 0 3px #ccc, 0 0 0 #ddd;
    background: #eee;
}

a.up {
    bottom: 4rem;
}


a.back,
a.next {
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    bottom: 1rem;
    right: 2vw;
    padding: 5px;
    width: 2.25rem;
    text-align: center;
    box-shadow: 0 0 3px #ddd;
    background:#222;
}

a.back {
    bottom: 4rem;
}

a.next:hover,
a.back:hover {
    box-shadow: inset 0 0 3px #111, 0 0 0 #ddd;
    background: #111;
}

